<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
		<%- include("./partials/header") %>
	
	<!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<!-- Show the "ultimos" products -->
			<article>
				<p>
					<% if (locals.errors) {%>
						<p style="color: red"><%= errors.message%></p> 
					<% } %>
				</p>
				
				<form action="/user/login" method="POST"> <!-- ACA VA A IR A INDEX PERO TIENE QUE SER CON EL HEADER LOGEADO O NO-->
					<div>
					<input type="email" name="email" id="email" placeholder="Email">
					</div>
					<br>

					<div>
						<input type="text" name="contrasena" id="usuario" placeholder="Contrasena">
					</div>
					<br>

					<div>
						<input type="checkbox" name="recordarme">
						<label for="usuario">Recordarme</label>
					</div>
					<br>

					<div>
					<button type="submit">Enviar</button>
					</div>
				</form>
			</article>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
	
</body>

</html>