<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %> 
	<!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<h2 class="col-12">
				<form action="/products" method ="GET">
					<div>
						<input type="file" name="imagen" value="">
					</div>
					<br>
					<div>
						<input type="text" name="producto" value="" placeholder="Nombre del producto">
					</div>
					<br>
					<div>
						<input type="text" name="descripcion" value="" placeholder="Descripción del producto">
					</div>
					<br>
					<div>
						<input type="date" name="date" value="">
					</div>
					<br>
					<div>
						<button type="submit">Agregar</button>
					</div>
				</form>
			</h2>

<!--SACARIA EL FOOTER DE ACA YA Q ESTAS AGREGANDO UN PRODUCTO, SERIAS COMO EL VENDEDOR -->
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>