<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<article>
				<form action="/user/register" method="POST"> 
					<div>
						<% if (locals.errors) {%>
							<p class = "errorsMessage"><%= errors.message%></p> 
						<% } %>
					</div>
					<div>
					<input type="email" name="email" placeholder="Email">
					</div>

					<br>

					<div>
						<input type="text" name="usuario" placeholder="Usuario">
						</div>
	
					<br>

					<div>
						<input type="text" name="contrasena" placeholder="Contrasena">
					</div>

					<br>

					<div>
						<input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento">
					</div>
	
					<br>

					<div>
						<input type="number" name="dni" placeholder="Numero de documento">
					</div>
	
					<br>

					<div>
						<input type="text" name="imagenPerfil" placeholder="Foto de perfil">
					</div>
	
					<br>

					<div>
						<input type="checkbox" name="recordarme">
						<label for="usuario">Recordarme</label>
					</div>

					<br>

					<div>
					<button type="submit">Enviar</button>
					</div>
				</form>
			</article>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>